<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用xml的形式配置mapper，此处编写sql映射文件 -->
<mapper namespace="com.dadagum.team.mapper.GroupMapper">
    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="group.id" parameterType="com.dadagum.team.common.model.Group">
        insert into dadagudb.group (name, uid, create_time)
        values (#{group.name},#{group.uid},#{group.createTime});
    </insert>

    <delete id="deleteById">
        delete from dadagudb.group where id=#{gid};
    </delete>

    <select id="getGroupById" resultType="com.dadagum.team.common.model.Group">
        select * from dadagudb.group where id=#{gid};
    </select>

    <select id="getLeaderIdById" resultType="int">
        select uid from dadagudb.group where id=#{gid};
    </select>

    <update id="updateGroup">
        update dadagudb.group
          <set>
              <if test="group.name !=null and group.name != '' ">
                  name=#{group.name}
              </if>
              <if test="group.uid !=null and group.uid != '' ">
                  uid=#{group.uid}
              </if>
              <if test="group.createTime !=null and group.createTime != '' ">
                  create_time=#{group.createTime}
              </if>
          </set>
        where id=#{group.id}
    </update>

    <select id="listUserGroup" resultType="com.dadagum.team.common.model.Group">
        select * from dadagudb.group where id in (
          select gid from user_group where  uid =#{uid}
        ) ;
    </select>

    <insert id="insertUser2Group">
        insert into user_group(uid,gid)
        values (#{uid},#{gid});
    </insert>

    <delete id="deleteUserFromGroup">
        delete from user_group
        where uid=#{uid} and gid=#{gid};
    </delete>
    
    <select id="listUserTeammate" resultType="com.dadagum.team.common.model.User">
        select * from user where id
        in(select uid from user_group where gid=#{gid})
    </select>

    <select id="getGidByPid" resultType="int">
        select gid from project where id=#{pid};
    </select>

    <select id="getGidByMid" resultType="int">
        select gid from mission where id=#{mid};
    </select>
</mapper>