<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用xml的形式配置mapper，此处编写sql映射文件 -->
<mapper namespace="com.dadagum.group.mapper.MissionMapper">
    <insert id="insertMission" keyProperty="id" useGeneratedKeys="true">
        insert into mission( name, details, start_time, end_time, pid, gid, finished, overdued, uid)
        values (#{mission.getName()},#{mission.getDetails()},#{mission.getStartTime()},#{mission.getEndTime()},#{mission.getPid()},
                #{mission.getGid()},#{mission.getFinished()},#{mission.getOverdued()},#{mission.getUid()})
    </insert>

    <delete id="deleteMissionById">
        delete from mission where id=#{mid};
    </delete>

    <select id="getMissionById" resultType="com.dadagum.team.common.model.Mission">
        select * from mission where id=#{mid}
    </select>

    <select id="getLeaderById">
        select uid from mission where id=#{mid}
    </select>

    <select id="listUserMission" resultType="com.dadagum.team.common.model.Mission">
        select * from mission where id in (select mid from user_mission where user_mission.uid=#{uid})
        <if test="query.getGid()!=null and query.getGid() !=''">
            and gid=#{query.getGid()}
        </if>
        <if test="query.getPid()!=null and query.getPid()!=''">
            and pid=#{query.getPid()}
        </if>
    </select>

    <update id="updateMission">
        update mission
        <set>
            <if test="mission.getName()!=null and mission.getName()!=''">
                name=#{mission.getName()}
            </if>
            <if test="mission.getDetails()!=null and mission.getDetails()!=''">
                details=#{mission.getDetails(0}
            </if>
            <if test="mission.getStartTime()!=null and mission.getStartTime()!=''">
                start_time=#{mission.getStartTime()}
            </if>
            <if test="mission.getEndTime()!=null and mission.getEndTime()!=''">
                send_time=#{mission.getEndTime()}
            </if>
            <if test="mission.getPid()!=null and mission.getPid()!=''">
                pid=#{mission.getPid()}
            </if>
            <if test="mission.getGid(0!=null and mission.getGid()!=''">
                gid=#{mission.getGid()}
            </if>
            <if test="mission.getFinished()!=null and mission.getFinished()!=''">
                finished=#{mission.getFinished()}
            </if>
            <if test="mission.getOverdued()!=null and mission.getOverdued()!=''">
                overdued=#{mission.getOverdued()}
            </if>
            <if test="mission.getUid()!=null and mission.getUid()!=''">
                uid=#{mission.getUid()}
            </if>
        </set>
        where id=#{mission.getId()}
    </update>

    <insert id="insertUserMission">
        insert into user_mission(uid, mid) VALUES
        <foreach collection="list" item="uid" separator=",">
            (#{uid},#{mid})
        </foreach>
    </insert>

    <delete id="deleteUserFromMission">
        delete from user_mission where mid=#{mid} and uid in
        <foreach collection="list" item="uid" separator=",">
            #{uid}
        </foreach>
    </delete>
</mapper>
