<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadagum.group.mapper.ResourceMapper">
    <insert id="insertResource" useGeneratedKeys="true" keyProperty="id">
        insert into project_resource( name, quantity, pid, create_time, gid)
        values (#{resource.name},#{resource.quantity},#{resource.pid},#{resource.createTime},#{resource.gid})
    </insert>
    
    <delete id="deleteResourceById">
        delete from project_resource where id=#{rid}
    </delete>
    
    <select id="getResourceById" resultType="com.dadagum.team.common.model.ProjectResource">
        select * from project_resource where id=#{rid}
    </select>
    
    <select id="listResource" resultType="com.dadagum.team.common.model.ProjectResource">
        select * from project_resource where 1=1 
        <if test="query.getPid()!=null and query.getPid()!=''">
            pid=#{query.pid}
        </if>
    </select>
    
    <update id="updateResource">
        update  project_resource
          <set>
              <if test="query.name!=null and query.name!=''">
                  name=#{query.name}
              </if>
              <if test="query.quantity!=null and query.quantity!=''">
                  quantity=quantity+#{query.quantity}
              </if>
          </set>
        where id=#{rid}
    </update>

    <insert id="insertResourceRecord" useGeneratedKeys="true" keyProperty="id">
        insert into resource_record(rid, details, num, time)
        values (rid=#{record.rid},details=#{record.details},num=#{record.num},time=#{record.time})
    </insert>

    <select id="listResourceRecord" resultType="com.dadagum.team.common.model.ResourceRecord">
        select * from resource_record where rid=#{rid}
    </select>

</mapper>
