<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadagum.group.mapper.ResourceMapper">
    <insert id="insertResource" useGeneratedKeys="true" keyProperty="id">
        insert into project_resource( name, quantity, pid, create_time, gid)
        values (#{resource.getName()},#{resource.getQuantity()},#{resource.getPid()},#{resource.getCreateTime()},#{resource.getGid()})
    </insert>
    
    <delete id="deleteResourceById">
        delete from project_resource where id=#{rid}
    </delete>
    
    <select id="getResourceById" resultType="com.dadagum.team.common.model.ProjectResource">
        select * from project_resource where id=#{rid}
    </select>
    
    <select id="listResource" resultType="com.dadagum.team.common.model.ProjectResource">
        select * from project_resource where 1=1 
        <if test="query.getPid()!=null and query.getPid()!=''">
            pid=#{query.getPid()}
        </if>
    </select>
    
    <update id="updateResource">
        update  project_resource
          <set>
              <if test="query.getName()!=null and query.getName()!=''">
                  name=#{query.hetName()}
              </if>
              <if test="query.getQuantity()!=null and query.getQuantity()!=''">
                  quantity=quantity+#{query.getQuantity()}
              </if>
          </set>
        where id=#{rid}
    </update>

    <insert id="insertResourceRecord" useGeneratedKeys="true" keyProperty="id">
        insert into resource_record(rid, details, num, time)
        values (rid=#{record.getRid()},details=#{record.getDetails()},num=#{record.getNum()},time=#{record.getTime()})
    </insert>

    <select id="listResourceRecord" resultType="com.dadagum.team.common.model.ResourceRecord">
        select * from resource_record where rid=#{rid}
    </select>

</mapper>
