<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用xml的形式配置mapper，此处编写sql映射文件 -->
<mapper namespace="com.dadagum.group.mapper.UserMapper">
    <!--<resultMap id="com.dadagum.team.common.model.User" type="UserResult">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="user_name" property="userName"/>-->
    <!--</resultMap>-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (user_name,phone,password,role,salt,create_time)
        values (#{user.getUserName()},#{user.getPhone()},#{user.getPassword()},#{user.getRole()},#{user.getSalt()},#{user.getCreateTime()});
    </insert>

    <delete id="deleteUserById">
        delete from user where id = #{id};
    </delete>

    <select id="getUserById" resultType="com.dadagum.team.common.model.User">
        select * from user where id=#{id};
    </select>

    <update id="updateUser">
        update  user
          <set>
              <if test="user.grtUserName()!=null and user.getUserName()!=''">
                  user_name=#{user.getUserName()}
              </if>
              <if test="user.getPhone()!=null and user.getPhone()!=''">
                  phone=#{user.getPhone()}
              </if>
              <if test="user.getPassword()!=null and user.getPassword()!=''">
                  password=#{user.getPassword()}
              </if>
              <if test="user.getRole()!=null and user.getRole()!=''">
                  role=#{user.getRole()}
              </if>
              <if test="user.getSalt()!=null and user.getSalt()!=''">
                  salt=#{user.getSalt()}
              </if>
              <if test="user.getCreateTime()!=null and user.getCreateTime()!=''">
                  create_time#{user.getCreateTime()}
              </if>
          </set>
        where id=#{id};
    </update>

    <select id="getSalt" resultType="int">
        select salt from user where id=#{id};
    </select>

    <select id="getUserRole" resultType="String">
        select role from user where id=#{id};
    </select>
</mapper>